---
import Header from "@/sections/Header.astro"
import "@/styles/global.css"

const {title} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-gradient-to-b from-forest to-[#202020] text-white">
		<Header />
		<main class="container mx-auto px-4 py-4">
			<slot />
		</main>
		<footer class="container mx-auto px-4 py-6 mt-auto"> 
			<div class="border-t boder-[#2a3c36] pt-8 text-center text-sm text-gray-400">
				<p> {new Date().getFullYear()} Córtame. Hecho con ♥️ por <a href="https://henryck.dev">Henryck</a></p>. Hackaton 2025 de Clerk x Midudev
			</div>
		</footer>
	</body>
</html>

<style>
	html, body {
		margin: 0;
    width: 100%;
    height: auto;
		background: linear-gradient(180deg, #253731 0%, #202020 100%);
    display: flex;
    flex-direction: column;
	}

	html { 
		background-color: #202020;
	}
</style>
