---
import Header from "@/sections/Header.astro"
import "@pheralb/toast/dist/styles.css";
import "@/styles/global.css"
import {Toaster} from "@pheralb/toast"

const {title} = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="apple-mobile-web-app-title" content="C贸rtame" />

		<meta name="description" content="Crea enlaces cortos, genera c贸digos QR y analiza el rendimiento de tus enlaces con nuestra plataforma potenciada por IA.">

		<meta property="og:url" content="https://cortame-app.vercel.app">
		<meta property="og:type" content="website">
		<meta property="og:title" content="C贸rtame - Acortador de URL">
		<meta property="og:description" content="Crea enlaces cortos, genera c贸digos QR y analiza el rendimiento de tus enlaces con nuestra plataforma potenciada por IA.">
		<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/df4552d0-7df7-4738-aded-1179db45a39f.png?token=0GVCHDv-meAKSoVfKYTqdYkCcRgUcCHh-HxobduDBC4&height=630&width=1200&expires=33284232648">

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="cortame-app.vercel.app">
		<meta property="twitter:url" content="https://cortame-app.vercel.app">
		<meta name="twitter:title" content="C贸rtame - Acortador de URL">
		<meta name="twitter:description" content="Crea enlaces cortos, genera c贸digos QR y analiza el rendimiento de tus enlaces con nuestra plataforma potenciada por IA.">
		<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/df4552d0-7df7-4738-aded-1179db45a39f.png?token=0GVCHDv-meAKSoVfKYTqdYkCcRgUcCHh-HxobduDBC4&height=630&width=1200&expires=33284232648">

		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-gradient-to-b from-forest to-[#202020] text-white">
		<Header />
		<main class="container mx-auto px-4 py-4">
			<slot />
			<Toaster 
				client:load
				toastOptions={{
					animationOnClose: "swipe",
					headless: true,
					classNames: {
      			toast: 'font-sans text-sm font-medium z-50 bg-forest-darker/80 dark:bg-forest-darker/80 text-zinc-900 dark:text-zinc-100 border border-emerald-700 dark:border-emerald-700 rounded-lg shadow-md relative flex items-center',
						container: 'flex items-center py-4 space-x-2 px-4 w-full',
						content: 'flex flex-col space-y-0.5 mr-2',
						actions: {
        			container: 'flex flex-col px-3 border-l border-emerald-700 h-14',
							actionBtn: 'border',
							closeBtn: 'cursor-pointer flex items-center h-full'
      			}
					}
				}}
			/>
		</main>
		<footer class="container mx-auto px-4 py-6 mt-auto"> 
			<div class="border-t boder-[#2a3c36] pt-8 text-center text-sm text-gray-400">
				<p> {new Date().getFullYear()} C贸rtame. Hecho con  por <a href="https://henryck.dev">Henryck</a></p> Hackaton 2025 de Clerk x Midudev
			</div>
		</footer>
	</body>
</html>

<style>
	html, body {
		margin: 0;
    width: 100%;
    height: auto;
		background: linear-gradient(180deg, #253731 0%, #202020 100%);
    display: flex;
    flex-direction: column;
	}

	html { 
		background-color: #202020;
	}
</style>
